*{
    padding : 0px;
    margin : 0px;
    box-sizing :border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}



.sword{
    width: 15px;
    height: 200px;
    background-color: rgb(255, 255, 0);
    position: relative;
    border-radius:100% 100% 0 0;
    position: relative;
    top: -199px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition : .3s;
}


.btn{
    width: 15px;
    height: 50px;
    background-color: rgb(255, 115, 0);
    position: absolute;
    bottom: 170px;
}

.btn > input{
    display: none;
}

.btn > label{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.btn > label::before{
    content: '';
    width: 50px;
    height: 25px;
    background-color:orange;
    position: absolute;
    top:30%;
    left: -17px;
    clip-path: polygon(0% 38%, 21% 29%, 75% 29%, 99% 38%, 76% 48%, 21% 48%);
}

.btn > #check:checked ~ .sword{
    box-shadow: 0px 0px 10px 2px yellow;
    filter: brightness(1000000%);
    transform: scaleY(1);
}
